// base
html{
  position: relative;
}
body{
  background-color: #E5E5E5;
  //padding-top: 100px;
}
.main{
  background-color: blue;
  height: 100vh;
}

.wrapper {
  background-color: green;
  min-height: 100%;
}