.footer{
  background-color: $light;
  color: $gray-800;
  position: absolute;
  bottom: 0;
  width: 100%;
  .container{
    height: 200px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-brand{
      img{
        width: 60px;
      }
    }
    .footer-social{
      a{
        font-size: 1.1rem;
        margin-left: 30px;
        color: #555;
        &:hover{
          color: $secondary;
        }
      }
    }
  }
}

@media (max-width: 767px){
  .footer{
    .container{
      flex-direction: column;
      justify-content: center;
      .footer-brand{
        margin-bottom: 30px;
      }
      .footer-social{
        a{
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}