.navbar {
  padding: 0;
  box-shadow: 0px 2px 4px rgba($primary, 0.1);
  .navbar-toggler {
    padding: 0px 4px;
    border: 0px;
    border-radius: 0px;
  }
  .navbar-brand{
    img{
      height: 38px;
    }
  }
  .navbar-collapse {
    border-bottom: 0px;
    .navbar-brand{
      img{
        height: 38px;
      }
    }
  }
  .navbar-nav,
  .navbar-social {
    width: 40%;
  }
  .navbar-nav {
    .nav-item {
      height: 80px;
      display: flex;
      align-items: center;
      &.active {
        border-bottom: 5px solid $primary;
      }
      padding: 0px 8px;
      border-bottom: 5px solid transparent;

      .nav-link {
        text-transform: uppercase;
        color: $primary;
        letter-spacing: 0.08rem;
        font-size: 0.8rem;
        font-weight: 500;

        &:hover{
          color: $secondary;
        }
      }
    }
  }
  .navbar-social {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    .nav-item{
      .nav-link{
        font-size: 1.2rem;
        &:hover{
          color: $secondary;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 12px 16px;

    .navbar-brand{
      img{
        height: 30px;
      }
    }

    .navbar-toggler{
      top: 60px;
      padding-top: 8px;
    }

    .navbar-nav,
    .navbar-social {
      width: 100%;
    }

    .navbar-collapse{
      padding: 0;
    }

    .navbar-nav {
      margin-top: 0;
      padding: 0 8px;
      padding-bottom: 24px;
      .nav-item {
        height: 36px;
        display: block;
        flex-direction: column;
        align-items: flex-start;
        &.active {
          border-bottom: 5px solid transparent;
        }
        padding: 16px 0px;
  
        .nav-link {
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
    
    .navbar-social {
      justify-content: flex-start;
    }
  }
}